img{
    margin-right: 95vh;
    color: white;
}

.container{
    display: grid;
    grid-template-columns: auto 200px 200px 300px;
}

.container .div{
    height: 80vh;
    width: 50vh;
    background-color: rgb(32, 32, 32);
    border-radius: 30px;
    margin-top: 15%;
}
body{
    background-color: rgb(201, 189, 189)!important;
}
.search{
    width:70vh;
    height: 6%;
    border-radius: 10px;
    margin-top: 50%;
    margin-left: 50%;
    background-color: black;
    color: rgb(124, 120, 120);
    font-size:large;
    padding-left: 20px;
    padding-top: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.grid{
    background-color: rgb(32, 32, 32);
    height: 10%;
    width: 50%;
    margin-top:opx;
}
.grid-container{
    margin-top:0;
}